@{
    ViewBag.Title = "Доступные опросники";
}

<h3>Выберите опросник:</h3>
<div>
    @foreach (var t in ViewBag.Tests)
    {
        <a href="/Home/PassTest?testId=@t.Id" class="btn btn-primary">@t.Name</a>
    }
</div>
